:root {
  --Primary-light-green: hsl(148, 38%, 91%);
  --Primary-medium-green: hsl(169, 82%, 27%);
  --Primary-red: hsl(0, 66%, 56%);
  --Neutral-white: hsl(0, 0%, 100%);
  --Medium-grey: hsl(186, 15%, 59%);
  --Dark-grey: hsl(187, 24%, 22%);
  --Font-size-labels: 16px;
}

@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/Karla-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Primary-light-green);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Karla", sans-serif;
  font-size: var(--Font-size-labels);
}

.form-container {
  width: 650px;
  padding: 30px;
  background-color: var(--Neutral-white);
  border-radius: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-group {
  width: 100%;
}

.name-inputs {
  display: flex;
  gap: 10px;
}

.name-inputs input {
  width: 100%;
}

label {
  font-size: 14px;
}

input:not([type="checkbox"]):not([type="radio"]) {
  border: 1px solid var(--Medium-grey);
  font-size: var(--Font-size-labels);
  padding: 10px;
  border-radius: 5px;
  margin: 8px 0;
  width: 100%;
  cursor: pointer;
}

input:not([type="checkbox"]):not([type="radio"]):hover, textarea:hover {
  border: 1px solid var(--Primary-medium-green);
}

input:not([type="checkbox"]):not([type="radio"]):focus, textarea:focus {
  outline: 1px solid var(--Primary-medium-green);
}

textarea {
  width: 100%;
  font-size: var(--Font-size-labels);
  padding: 10px;
  border-radius: 5px;
  resize: none;
  margin: 8px 0;
  border: 1px solid var(--Medium-grey);
  cursor: pointer;
}

#query {
  display: flex;
  gap: 10px;
  margin: 8px 0;
}

.query-type {
  border: 1px solid var(--Medium-grey);
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
}

.query-type label, .query-type input, .query-type {
  cursor: pointer;
}

input[type=radio] {
  accent-color: var(--Primary-medium-green);
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

button {
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  background-color: var(--Primary-medium-green);
  padding: 15px 0;
  border-radius: 5px;
  border: 1px solid var(--Dark-grey);
  margin-top: 8px;
  cursor: pointer;
}

button:hover {
  background-color: hsl(169, 82%, 15%);
}

.checkbox > div {
  display: flex;
  margin-bottom: 8px;
  gap: 10px;
  align-items: center;
}

input[type=checkbox] {
  accent-color: var(--Primary-medium-green);
  width: 15px;
}

span.error {
  font-size: 14px;
  display: block;
  color: var(--Primary-red);
}

span.hidden {
  display: none;
}

.radio-selected {
  background-color: hsl(148, 38%, 91%);
  border: 1px solid var(--Primary-medium-green);
}

.star {
  color: var(--Primary-medium-green);
}

.toast {
  position: fixed;
  top: 30px;
  width: 400px;
  background-color: hsl(187, 24%, 22%);
  padding: 20px;
  border-radius: 10px;
  color: var(--Neutral-white);
  font-size: 14px;
  transition: all 1s linear;
}

.toast > div {
  display: flex;
  align-items:  center;
  gap: 10px;
  margin-bottom: 20px;
}

.toast img {
  width: 14px;
}

.toast span {
  font-weight: bold;
}

.toast.hidden {
  transform: translateY(-400px);
}

@media screen and (max-width: 400px) {
  .form-container {
    width: 300px;
  }

  .name-inputs {
    flex-wrap: wrap;
  }

  #query {
    flex-wrap: wrap;
  }

  .toast {
    width: 300px;
  }
}